/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding:0;
	border:0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border: 1px solid red;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: black;
}
h1, h2{
    margin: 2%,0;
}
h1{
    font-size:8rem;
}
h2{
    font-size:3.5rem;
}
.bg-img{
    background-image: url('https://images.ctfassets.net/yr4qj72ki4ky/legacyBlogPost77Thumbnail/cd4783ad7b35efc4367166a570a9952e/bigstock-Real-Java-Script-Code-Developi-217215433.jpg?fm=webp&q=72');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:50vh;
}


.Trent{
    background-color: black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    color:white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
    width:80%;
    margin: 0 auto;
}

.Introducing{
    background-color: black;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px;
    color:white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

.BigPicture {
   display:flex;
   margin: 0 auto;
   width:100%;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.footer {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px;
    color:white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}
.images {
    display:flex;
    max-width:70%;
    flex-direction: row;
    align-items:left;
    text-align:left;
    margin: 0 auto;
    background-color: white;
    
}
.projectsinfo{
    display:flex;
    background-color: black;
    text-align:right;
    justify-content: right;
    color:white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
    max-width: 20%;
}
.projects{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
     max-width: 100%;
}

button{
    background-color: white;
    color:black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover{
    background-color: black;
    color:white;
    border: solid white 1px;
}

button a{ 
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px){
    
    .images{
        width:20%;

    }
 
}

@media(max-width: 500px){   
    .images{
    max-width: 100%;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .projectsinfo{
    flex-wrap: wrap;
    flex-direction: row;
    max-width:100%;
    margin: 4% 0;
    justify-content: center;
    align-items: center;
    text-align:center ;
}
.links{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.links button{
    width:40%;
    margin:1% 0;
}
.projects{
    flex-direction: column;
    width:100%;

}
}